[tool.poetry]
name = "nonebot-plugin-treehelp"
version = "0.3.0"
description = "适用于 Nonebot2 的树形帮助插件"
authors = ["hemengyang <hmy0119@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/he0119/nonebot-plugin-treehelp"
repository = "https://github.com/he0119/nonebot-plugin-treehelp"
documentation = "https://github.com/he0119/nonebot-plugin-treehelp#readme"

[tool.poetry.dependencies]
python = "^3.8"
nonebot2 = "^2.0.0"

[tool.poetry.group.dev.dependencies]
black = "*"
isort = "*"
pre-commit = "*"
nb-cli = "^1.0.4"
nonebot-adapter-console = "^0.3.2"
nonebot-adapter-onebot = "^2.2.3"

[tool.poetry.group.test.dependencies]
nonebug = "^0.3.1"
pytest-cov = "^4.0.0"
pytest-xdist = "^3.0.2"
pytest-mock = "^3.10.0"
pytest-asyncio = ">=0.20.2,<0.22.0"

[tool.black]
line-length = 88

[tool.isort]
profile = "black"
line_length = 88
skip_gitignore = true

[tool.pytest.ini_options]
asyncio_mode = "auto"

[tool.pyright]
pythonVersion = "3.8"
pythonPlatform = "All"

[tool.nonebot]
adapters = [
  { name = "Console", module_name = "nonebot.adapters.console", project_link = "nonebot-adapter-console", desc = "基于终端的交互式适配器" },
]
plugins = ["nonebot_plugin_treehelp", "tests.plugins.tree"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
